/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Configurações gerais */
  body {
    font-family: 'Poppins', Arial, sans-serif;
    color: #333;
    line-height: 1.6;
    background: linear-gradient(to bottom, #ffecd2, #fcb69f);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
  }
  
  /* Cabeçalho */
  header {
    background-color: #e38168;;
    color: white;
    text-align: center;
    padding: 20px 0;
    box-shadow: 0 4px 10px rgb(255, 252, 252);
  }
  
  header h1 {
    font-size: 2.5rem;
  }
  
  /* Seção de Galeria */
  .gallery-section {
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
    text-align: center;
  }
  
  .gallery-section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #ffffff;
  }
  
  .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .gallery-item {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    flex: 1 1 calc(300px - 20px);
    max-width: 100%;
  }
  
  .gallery-item img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s;
  }
  
  .gallery-item img:hover {
    transform: scale(1.05);
  }
  
  .gallery-item p {
    margin-top: 10px;
    font-size: 1rem;
    color: #555;
  }
  
  /* Estilização do texto adicional */
  #materiais {
    max-width: 800px;
    margin: 50px auto;
    text-align: center;
    background: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  h1 {
    font-size: 2.5rem;
    color: #2c3e50;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 1.8rem;
    color: #444;
    line-height: 1.8;
  }
  
  /* Rodapé */
  footer {
    background-color: transparent;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 30px;
    font-size: 0.9rem;
  }